{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  {% include header.html %}
  <div class="wrapper">
    <div class="logo">
      <h1><a href="/"><img src="/images/logo-large.png"  class="logo-img" alt="Vancouver Polyglot Un-Conference" /></a></h1>
    </div>
    <a href="http://eventbrite.com/event/3026740061" class="reg-btn"></a>
    <nav role="navigation">{% include navigation.html %}</nav>
    <div id="main">
      <div id="content">
        {{ content | expand_urls: root_url }}
      </div>
      <aside class="sidebar">
      <div class="sidebar-title">
        <div class="x-pattern">
          <h1>Search</h1>     
        </div>
      </div>
      <form action="http://google.com/search" method="get">
        <input type="hidden" name="q" value="site:www.polyglot.com">
        <input type="text" name="q" results="0" placeholder="Search" class="search">
      </form>
      {% if site.page_asides.size %}
      {% include_array page_asides %}
      {% else %}
      {% include_array default_asides %}
      {% endif %}
      </aside>
    </div>
  </div> 
  <div class="sponsor-bar">
    <div class="wrapper">
      <h3 class="white">Premium Sponsors</h3>
      <ul class="sponsors">
        <li><a href="http://www.github.com"  target="_blank"><img src="/images/sponsors/github.jpg" alt="Github" /></a></li>
        <li><a href="http://www.clio.com"  target="_blank"><img src="/images/sponsors/clio_ID_online.png" alt="Clio" /></a></li>
        <li><a href="http://www.mozilla.org"  target="_blank"><img src="/images/sponsors/mozilla280x160.png" alt="Mozilla" width="300" /></a></li>
        <li><a href="http://www.colligo.com"  target="_blank"><img src="/images/sponsors/colligo-logo.png" alt="Colligo" width="300"/></a></li>
        <div class="clear"></div>
      </ul>
      <h3 class="white">Community Sponsors</h3>
      <ul class="sponsors">
        <li><a href="http://phonegap.com" target="_blank"></a><img src="/images/sponsors/phonegap-logo.png" alt="PhoneGap" width="150"/></li>
        <li><a href="http://www.spawngrid.com"  target="_blank"><img src="/images/sponsors/spawngrid.png" alt="Spawngrid" width="200"/></a></li>
        <li><a href="http://vancouver.amazon-jobs.com" target="_blank"><img src="/images/sponsors/amazon-vancouver-logo.png" width="200" /></a></li>
        <li><a href="http://heroku.com" target="_blank"><img src="/images/sponsors/heroku-logo-light-234x60.png" width="200" /></a></li>
        <li><a href="http://claytoncorreia.com"  target="_blank"><img src="/images/sponsors/clayton.png" alt="Clayton Correia" width="200" /></a></li>                      
        <li><a href="http://terraspitzner.com"  target="_blank"><img src="/images/sponsors/tera.png" alt="Terra Spitzner" width="200" /></a></li>                      
        <div class="clear"></div>
      </ul>
    </div>
  </div>
  </div class="wrapper">
    <footer role="contentinfo">{% include footer.html %}</footer>
    {% include after_footer.html %}
  </div>
</body>
</html>
