<ul class="subscription f-right" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS"><img src="/images/rss.png" alt="rss" /></a></li>
  <li><a href="https://twitter.com/polyglotconf"><img src="/images/twitter.png" alt="twitter" /></a></li>
  <li><a href="https://facebook.com/polyglotconf"><img src="/images/fb.png" alt="facebook" /></a></li>                    
</ul>
<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Polyglot 2012</a></li>
  <li><a href="{{ root_url }}/blog">Blog</a></li>
  <li><a href="{{ root_url }}/event">Event</a></li>
  <li><a href="{{ root_url }}/tutorials">Tutorials</a></li>
    <li><a href="{{ root_url }}/hackathon">Hackathon</a></li>
  <li><a href="{{ root_url }}/sponsors">Sponsors</a></li>
  <li><a href="{{ root_url }}/faq">FAQ</a></li>
</ul>
